body {
  color: rgb(255, 255, 255);
  height: 100%;
}
li {
  border-radius: 5px;
  display: block;
  height: 30px;
  padding: 3px 2px;
  width: 300px;
}
li:hover {
  background-color: rgb(21 39 44 / 80%);
  transition: 0.3s;
  font-size: 15px;
}

.hidden {
  display: none;
}

#weather {
  position: fixed;
  right: 0;
  top: 0;
  padding: 25px;
}

#main {
  display: grid;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  height: 100%;
}
#container1 {
  display: grid;
  justify-items: center;
}
#main-container {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  height: 150px;
}
/* clock */
#clock {
  transition: 0.5s;
  font-size: 100px;
  font-weight: bolder;
}
#clock:active {
  color: rgb(21 39 44 / 100%);
}
/* login-form */
#login-form {
  margin-top: 5px;
  margin-bottom: 10px;
}
#login-form input:first-child {
  transition: 0.3s;
  border-radius: 5px;
  width: 240px;
  padding: 5px 10px;
}
#login-form input:first-child:hover,
#login-form input:first-child:focus {
  background-color: rgb(21 39 44 / 80%);
  color: white;
}
#login-form input:last-child {
  transition: 0.3s;
  color: white;
  border-radius: 5px;
  background-color: rgb(21 39 44 / 80%);
  width: 57px;
  padding: 5px 2px;
}
#login-form input:last-child:hover,
#login-form input:last-child:active {
  cursor: pointer;
  color: black;
  background-color: white;
}
#login-form input:last-child:active {
  position: relative;
  top: 2px;
}

/* todo-form */
#todo-form {
  transition: 0.3s;
  margin-top: 5px;
  margin-bottom: 10px;
}
#todo-form input {
  transition: 0.3s;
  border-radius: 5px;
}
#todo-form input:hover,
#todo-form input:focus {
  background-color: rgb(21 39 44 / 80%);
  color: white;
}
#todo-list span {
  display: inline-block;
  padding-top: 1px;
}
#todo-list button {
  float: right;
  padding-top: 1px;
}
#todo-list button:hover {
  cursor: pointer;
}
#todo-form input {
  width: 300px;
  padding: 5px 10px;
}
#todo-list {
  text-align: center;
}
#todo-list li:active {
  color: black;
}

/* greeting */
#greeting {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 17px;
  padding: 25px;
  text-align: right;
}
#greeting span:first-child {
  display: block;
  font-size: 0.7em;
}
#greeting span:first-child:hover {
  transition: 0.3s;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.582);
}

/* quote */
#quote {
  position: fixed;
  bottom: 0;
  padding: 25px;
}
#author {
  padding-bottom: 4px;
  font-size: 0.7em;
}
