body {
  color: rgb(255, 255, 255);
  height: 100%;
}
li {
  display: block;
  height: 30px;
  padding: 3px 2px;
  width: 300px;
}
li:hover {
  background-color: rgba(89, 158, 179, 0.479);
  transition: 0.3s;
  font-size: 15px;
}

.hidden {
  display: none;
}

#weather {
  position: fixed;
  right: 0;
  top: 0;
  padding: 25px;
}

#main {
  display: grid;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  height: 100%;
}

#clock {
  font-size: 100px;
  font-weight: bolder;
}
#login-form {
  margin-bottom: 10px;
}
#login-form input:first-child {
  width: 240px;
  padding: 5px 10px;
}
#login-form input:last-child {
  width: 57px;
  padding: 5px 2px;
}
#greeting {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 18px;
  padding: 25px;
}

#todo-form {
  padding: 10px;
}
#todo-list span {
  display: inline-block;
  padding-top: 1px;
}
#todo-list button {
  float: right;
  padding-top: 1px;
}
#todo-list button:hover {
  cursor: pointer;
}
#todo-form input {
  width: 300px;
  padding: 5px 10px;
}
#todo-list {
  text-align: center;
}

#quote {
  position: fixed;
  bottom: 0;
  padding: 25px;
}
#author {
  padding-bottom: 4px;
  font-size: 0.7em;
}
